<html>
    <head>
        <link rel="stylesheet" href="normalize.css" media="all">
        <link rel="stylesheet" href="skeleton.css" media="all">
        <title>Brands</title>
    </head>
    <body>
        <div class = "container">
            <h5><a href="/">Home</a></h5>

            {% if brands is not empty %}
            <ul>
                {% for element in brands %}
                <li>
                    <a href="/brand/{{ element.getId() }}">{{ element.getBrandName() }}</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>There are no brands listed!</p>
            {% endif %}

            <form action = "/brands" method = "post">
                <label for = "brand_name"> Enter a brand Name </label>
                <input id = "brand_name" name = "brand_name" type = "text">
                <button type = "submit">New Brand</button>
            </form>

            <form action = "/brands/delete" method = "post">
                <button type = "submit">Delete All</button>
            </form>
        </div>
    </body>
</html>
