<html>
    <head>
        <link rel="stylesheet" href="normalize.css" media="all">
        <link rel="stylesheet" href="skeleton.css" media="all">
        <title>Welcome</title>
    </head>
    <body>
        <div class = "container">
        <form action = "/stores">
            <label>Click to see our shoe stores </label>
            <button type = "submit"> Stores </button>
        </form>

        <form action = "/brands">
            <label>Click to see our shoe brands</label>
            <button type = "submit"> Brands </button>
        </form>
        </div>
    </body>
</html>
