<html>
    <head>
        <title>Hello</title>
    </head>
    <body>
        <form action = "/stores">
            <label>Click to see our shoe stores </label>
            <button type = "submit"> Stores </button>
        </form>

        <form action = "/brands">
            <label>Click to see our shoe brands</label>
            <button type = "submit"> Brands </button>
        </form>
    </body>
</html>
