<html>
    <head>
        <link rel="stylesheet" href="normalize.css" media="all">
        <link rel="stylesheet" href="skeleton.css" media="all">
        <title>Stores</title>
    </head>
    <body>
        <div class = "container">
            <h3><a href="/">Home</a></h3>
            {% if stores is not empty %}
            <ul>
                {% for element in stores %}
                <li><a href="stores/{{ element.getId() }}"> {{ element.getName() }} </a> </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>This brand is not sold anywhere!</p>
            {% endif %}

            <form action = "/stores" method = "post">
                <label for = "new_store">Input a new store </label>
                <input id = "new_store" name = "new_store" type = "text">
                <button type = "submit">Go!</button>
            </form>

            <form action = "/stores/delete" method = "post">
                <button type = "submit">Delete all Stores</button>
            </form>
        </div>
    </body>
</html>
